{% extends "layout.html"%}
{%block container%}
{%import "_macros.html" as macros%}
<div>

  <form action="" method="POST" novalidate class="max-w-sm mx-auto">
    
    {{form.csrf_token}}
    
    <input type="hidden" name="csrf_token" value="{{csrf_token()}}">
  
    <div class="relativ z-0 w-full mb-5 group">
      {{macros.camposNuevos(form.nombre, class="block py-2.5 px-30 w-full text-sm text-gray-900 bg-transparent border-0")}}
    </div>
    <div class="relativ z-0 w-full mb-5 group">
      {{macros.camposNuevos(form.apaterno, class="block py-2.5 px-30 w-full text-sm text-gray-900 bg-transparent border-0")}}
    </div>
    <div class="relativ z-0 w-full mb-5 group">
      {{macros.camposNuevos(form.email, class="block py-2.5 px-30 w-full text-sm text-gray-900 bg-transparent border-0")}}
    </div>
       <div class="relativ z-0 w-full mb-5 group">
      {{macros.camposNuevos(form.nombre, class="block py-2.5 px-30 w-full text-sm text-gray-900 bg-transparent border-0")}}
    </div>

</form>

</div>

{% endblock %}